{% extends "account/base.html" %}
{% load static i18n %}
{% load account %}
{% block head_title %}
    {% trans "Reset password" %}
{% endblock head_title %}
{% block content %}
    <div class="p-4">
        <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
            <section class="bg-gray-50 dark:bg-gray-900">
                <div class="flex flex-col items-center justify-center mx-auto md:h-screen lg:py-0">
                    <div class="mb-10">
                        <button id="theme-toggle"
                                type="button"
                                class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                          <svg id="theme-toggle-dark-icon"
                               class="hidden w-5 h-5"
                               fill="currentColor"
                               viewBox="0 0 20 20"
                               xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                          </svg>
                          <svg id="theme-toggle-light-icon"
                               class="hidden w-5 h-5"
                               fill="currentColor"
                               viewBox="0 0 20 20"
                               xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd">
                            </path>
                          </svg>
                        </button>
                      </div>
                    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                            <h1 class="text-xl font-bold leading-tight tracking-tight text-davysGrey-100 md:text-2xl dark:text-white">
                                {% trans "Reset password" %}
                            </h1>
                            {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            <p class="dark:text-gray-200">
                                {% trans "Forgotten your password? Enter your email address below and we'll send you an email to reset your password." %}
                            </p>
                            <form class="password_reset space-y-4 md:space-y-6"
                                  method="post"
                                  action="{% url 'account_reset_password' %}">
                                {% csrf_token %}
                                <div>
                                    <label for="id_login"
                                           class="block mb-2 text-sm font-medium text-davysGrey-100 dark:text-white">Email</label>
                                    {{ form.email }}
                                </div>
                                <button type="submit"
                                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    {% trans "Reset my password" %}
                                </button>
                            </form>
                            <p class="dark:text-gray-200">{% trans "Please contact us if you have any problems resetting your password." %}</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
