asgiref
boto3
botocore
click
colorama
cssbeautifier
Django
django-allauth
django-appconf
django-autoslug
django-cleanup
django-compressor
django-cors-headers
django-countries
django-filter
django-grappelli
django-js-asset
django-storages
django-tinymce
djangorestframework
djlint
EditorConfig
graphene
graphene-django
graphql-core
graphql-relay
html-tag-names
html-void-elements
jmespath
jsbeautifier
json5
Markdown
pathspec
pillow
promise
python-dateutil
python-decouple
pyuca
PyYAML
rcssmin
regex
rjsmin
s3transfer
setuptools
shortuuid
six
sorl-thumbnail
sqlparse
text-unidecode
tqdm
typing_extensions
urllib3
wheel
psycopg
psycopg2-binary
django-nested-admin
openpyxl
reportlab
pandas
django-birthday
requests
sib-api-v3-sdk