{% extends "public/secure/components/base.html" %}
{% load static i18n %}
{% block title %}
     {% if object %}
          {% translate "Update event" %}
     {% else %}
          {% translate "Add event" %}
     {% endif %}
{% endblock title %}
{% block nav %}
     {% include "public/secure/components/header.html" %}
{% endblock nav %}
{% block aside %}
     {% include "public/secure/components/sidebar.html" %}
{% endblock aside %}
{% block body %}
     <div class="md:p-4 sm:ml-64">
          <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10 dark:text-gray-300">
               <div class="shadow-md sm:rounded-lg p-8">
                    <form method="post">
                         {% csrf_token %}
                         <div class="grid gap-6 mb-6 md:grid-cols-2">
                              {% for field in form %}
                                   <div class="mb-4 px-5">
                                        <label for="{{ field.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                             {{ field.label }}
                                        </label>
                                        {{ field }}
                                        {% if field.errors %}
                                             <div class="text-red-500">
                                                  {% for error in field.errors %}<strong>{{ error|escape }}</strong>{% endfor %}
                                             </div>
                                        {% endif %}
                                   </div>
                              {% endfor %}
                         </div>
                         <div class="flex justify-center pt-8">
                              <button class="w-2/4 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                                      type="submit">
                                   {% if object %}
                                        {% translate "Update" %}
                                   {% else %}
                                        {% translate "Add" %}
                                   {% endif %}
                              </button>
                         </div>
                    </form>
               </div>
          </div>
     </div>
{% endblock body %}
{% block scripts %}
{% endblock scripts %}
